<div class="contact-us-wrapper">
  <div class="contact-us-hero">
    <h2>Contact Us</h2>
    <p>Welcome to VSING - Where Opportunities Await!</p>
  </div>

  <!-- collaboration section -->
  <div class="collaborate-section">
  <div class="collaborate-content">
    <div class="collaborate-left">
      <h2>Collaborating with VSING</h2>
      <ul>
        <li>Advertise on VSING screen</li>
        <li>Joint Event with VSING</li>
        <li>Event Sponsorship</li>
        <li>Product Affiliate & Sales</li>
      </ul>
    </div>

    <div class="collaborate-card">
      <p>
        Want to partner or collaborate with us or have any questions?<br />
        Contact us at <strong>hello&#64;vsing.my</strong>
      </p>
      <a href="mailto:hello@vsing.my" class="contact-btn">
        Contact Us <span class="arrow">→</span>
      </a>
    </div>
  </div>
</div>
  
  <div id="application-form">
    <div class="application-section">
      <p>At VSING, we believe in nurturing talent and providing a platform for growth and success. We are constantly on the lookout for driven individuals who are passionate about making a difference. Join us in our mission to guide voices to echo worldwide, illuminating stages for all to shine, and uniting a global community of artists and dreamers</p>
      <div class="application-form">

        <div class="application-form-title">
          <h2>Job Application</h2>
          <h3>Please complete the form to <br> apply for a position with us.</h3>
        </div>

        <form class="form" (ngSubmit)="submitApplicationForm()">
          <div class="input-row">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input id="firstName" type="text" required>
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input id="lastName" type="text" required>
            </div>
          </div>

          <div class="input-row">
            <div class="form-group">
              <label for="dob">Date of Birth</label>
              <input id="dob" type="date">
            </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input id="email" type="email" required>
            </div>
          </div>

          <div class="input-row">
            <div class="form-group">
              <label for="phone">Phone *</label>
              <input id="phone" type="tel" required>
            </div>
            <div class="form-group">
              <label for="position">Position Applying For</label>
              <input id="position" type="text" required>
            </div>
          </div>

          <div class="input-row">
            <div class="form-group">
              <label for="startDate">Available Start Date</label>
              <input id="startDate" type="date">
            </div>
            <div class="form-group">
              <label for="resumeLink">Link to Your Resume *</label>
              <input id="resumeLink" type="url" required>
            </div>
          </div>

          <button type="submit" class="submit-button">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

