<div class="about-wrapper">
  <div class="about-hero">
      <h2>Our Vision</h2>
      <p>Guiding voices to echo worldwide, illuminating stages for all to shine, and uniting a global community of artists and dreamers</p>
  </div>

  <div class="about-feature-1">
    <div class="feature-container">
      <div class="feature-image">
        <img src="assets/images/stage_moment.png" alt="Stage moment">
      </div>
      <div class="about-feature-1-content">
        <h3>Forging Highlight Moments</h3>
        <p>
          Imagine a world where anyone, no matter where they come from or who they are, everyone can stand on a stage and share their voice to the world. That's the vision that drives VSING every single day. We're not just a business; we're a movement. <br/> <br/> Imagine a world where anyone, no matter where they come from or who they are, everyone can stand on a stage and share their voice to the world. That's the vision that drives VSING every single day. We're not just a business; we're a movement.
        </p>
      </div>
    </div>
  </div>

  <div class="about-feature-2">
    <div class="feature-container">
      <div class="about-feature-2-content">
        <div class="about-feature-2-header">
          <h3>Founded In 2019</h3>
          <h4>2019 - Present</h4>
        </div>
        <p>
          VSING aims to be an international governing body of vocal sports. VSING is currently headquartered in Malaysia and is actively expanding overseas essentially across Asia Region. VSING provides the highest standard of vocal sports facilities to ensure proper talent enhancement and development in their career roadmap.<br/>
          <br/> VSING takes the lead in organizing prized tournaments and leagues to supercharge the vocal sports development, allowing vocal athletes to compete one another, resulting in an exciting matches that draws the public attention.
        </p>
      </div>
      <div class="feature-image">
        <img src="assets/images/vsing_venue.png" alt="VSING venue" />
      </div>
    </div>
  </div>

  <div class="value-section">
    <div class="value-container">
      <h3 class="value-section-title">Our Value To The World</h3>
      <div class="value-cards">
        <div class="card">
          <div class="card-image">
            <img src="assets/images/value1.png" alt="Interactive singing experience">
          </div>
          <p>An interactive singing experience which provides a stage for everyone to showcase their talent.</p>
        </div>

        <div class="card">
          <div class="card-image">
            <img src="assets/images/value2.png" alt="Audience engagement">
          </div>
          <p>Offline and online audience engagement where audience can support singers by sending virtual gifts.</p>
        </div>

        <div class="card">
          <div class="card-image">
            <img src="assets/images/value3.png" alt="Rewarding platform">
          </div>
          <p>An interactive and rewarding system for users. Where a monetization gameplay reward singers and cover song copyright worldwide.</p>
        </div>
      </div>
    </div>
  </div>
</div>