<div class="download-hero">
  <img class="background-img" src="/assets/images/download_background.png" alt="VSING Background" />
  
  <div class="hero-content">
    <div class="text-column">
      <h2>DOWNLOAD VSING <br /> MOBILE APP</h2>
      <div class="store-badges">
        <img src="/assets/images/download_Apple.png" alt="App Store" />
        <img src="/assets/images/download_Google.png" alt="Google Play" />
        <img src="/assets/images/download_Huawei.png" alt="AppGallery" />
      </div>
    </div>

    <div class="phone-column">
      <img src="/assets/images/app_UI_download1.png" alt="VSING App UI" class="phone-mockup" />
    </div>
  </div>

</div>

<div>

  <div class="app-title-section">
    <h2>More Excitement Awaits You</h2>
    <p>VSING app is the core technology of VSING, which allow users to control the entire VSING <br> system with their mobile phones at every branches</p>
  </div>

  <div class="app-display-section">
    
    <div class="phone-block">
      <img src="/assets/images/app_UI_download2.png" alt="Friendship Unlocked" class="phone-img" />
      <div class="label left">
        <img src="/assets/images/icon-friends.png" alt="friends">
        <span>Make Friends Globally</span>
      </div>
    </div>

    <div class="phone-block">
      <img src="/assets/images/app_UI_download3.png" alt="Sing to Earn" class="phone-img">
      <div class="label top-right">
        <img src="/assets/images/icon-sing.png" alt="mic">
        <span>Sing to Earn</span>
      </div>
      <div class="label bottom-left">
        <img src="/assets/images/icon-vip.png" alt="star">
        <span>Unlock SVIP</span>
      </div>
    
    </div>
  </div>

</div>
